@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;

  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-inter: 'Inter', sans-serif;
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
}

/* Agar dark mode kerak bo'lsa: */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Smooth scrolling */
* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.font-geist {
  font-family: var(--font-geist-sans);
}
.font-geist-mono {
  font-family: var(--font-geist-mono);
}
.font-inter {
  font-family: var(--font-inter);
}
.font-bricolage {
  font-family: var(--font-bricolage);
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9bd95c;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8bc84c;
}

/* Responsive line clamp utilities */
.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
