@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;

  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-inter: 'Inter', sans-serif;
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
}

/* Agar dark mode kerak bo'lsa: */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.font-geist {
  font-family: var(--font-geist-sans);
}
.font-geist-mono {
  font-family: var(--font-geist-mono);
}
.font-inter {
  font-family: var(--font-inter);
}
.font-bricolage {
  font-family: var(--font-bricolage);
}
